/* https://color.adobe.com/create/color-wheel/?base=3&rule=Analogous&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7800000000000001,0.4737433590522465,0.6405158635103838,0.3345002298845005,0.33740158884511134,0.3900000000000001,0.7373985719883352,0.8200000000000001,0.29252683085210135,0.29692022746589514,0.7300000000000001,0.5859966556381474,0.7800000000000001,0.7259414642280124,0.6585074765352322&swatchOrder=0,1,2,3,4 */
/* Color theme */
/* top, right, bottom, left */
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
/* Change text globally*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  /*line-height: 20px;*/
}
/* Create padding around the page */
section {
  padding: 12px 8px 12px 8px;
}
/* Background color */
body {
  background-color: #fff;
}
/* Change the color of anchors to default in application */
a {
  color: #333333;
}
/* Show pointer even when anchor is missing href attribute */
a:hover {
  cursor: pointer;
}
/* Footer design */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #6b6b6b;
  /*padding: 5px 0 3px 8px;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #eaeaea;
  border-top: solid 1px #c8c8c8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
  /*text-align: right;*/
}
footer > * {
  display: inline-block;
}
footer #footer-timestamp {
  font-weight: bold;
  margin-right: 4px;
}
/* Move navigation bar to the left */
section {
  /*padding: 12px 0 12px 12px;*/
}
section > nav {
  float: left;
  border-right: solid 1px #f1f1f1;
  padding-right: 22px;
}
section > article {
  margin-left: 95px;
}
/* Style links in navigation bar*/
nav a {
  display: block;
}
nav > div {
  margin-bottom: 6px;
}
nav > div > :first-child {
  font-weight: bold;
  margin-bottom: 2px;
}
nav > div.tags > :not(:first-child) {
  font-style: italic;
}
/* Style external links */
a.link {
  color: #42ab87;
  text-decoration: underline;
}
a.link:visited {
  color: #4d4d4d;
}
/* Paragraph styling */
article p {
  line-height: 1.5em;
  /*margin: 2px 0 8px 0;*/
  margin: 0;
}
article p {
  margin: 0 0 0.8em 0;
}
article ul {
  padding-left: 2.5em;
}
/* Italic heading */
.italic {
  font-style: italic;
}