@black: #000;
@white: #fff;
@text: lighten(@black, 20%);

/* https://color.adobe.com/create/color-wheel/?base=3&rule=Analogous&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7800000000000001,0.4737433590522465,0.6405158635103838,0.3345002298845005,0.33740158884511134,0.3900000000000001,0.7373985719883352,0.8200000000000001,0.29252683085210135,0.29692022746589514,0.7300000000000001,0.5859966556381474,0.7800000000000001,0.7259414642280124,0.6585074765352322&swatchOrder=0,1,2,3,4 */

/* Color theme */
@magenta: #4CBA95;
@green: #BCD14B;
@gray: #555663;
@pink: #C779A3;
@brown: #C7B9A8;

/* top, right, bottom, left */

.hidden {
	display: none !important;
	visibility: hidden;
}

.invisible {
	visibility: hidden;
}

/* Change text globally*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: @text;
	/*line-height: 20px;*/
}

/* Create padding around the page */

section {
	padding: 12px 8px 12px 8px;
}

/* Background color */

body {
	background-color: @white;
}

/* Change the color of anchors to default in application */

a {
	color: @text;
}

/* Header design */

header {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	background-color: #f3f3f3;
	padding: 2px;
	border-bottom: solid 1px #e0e0e0;
}

/* Footer design */

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	color: #6b6b6b;
	/*padding: 5px 0 3px 8px;*/
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 3px;
	background-color: #eaeaea;
	border-top: solid 1px #c8c8c8;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* Move navigation bar to the left */

@left-menu-size: 120px;
@border-width: 1px;

section {
	/*padding: 12px 0 12px 12px;*/

	& > nav {
		float: left;
		border-right: solid 1px #f1f1f1;
		padding-right: 22px;
	}

	& > article {
		margin-left: 95px;
	}
}

/* Style links in navigation bar*/

nav {
	a {
		display: block;
	}

	& > div {
		& > :first-child {
			font-weight: bold;
			margin-bottom: 2px;
		}

		margin-bottom: 6px;
	}

	& > div.tags > :not(:first-child) {
		font-style: italic;
	}
}

/* Style external links */

a.link {
	color: darken(@magenta, 5%);
	text-decoration: underline;

	&:visited {
		color: lighten(@black, 30%);
	}

	&:hover {
	}

	&:active {
	}
}

/* Paragraph styling */

article {
	p {
		line-height: 1.5em;
		/*margin: 2px 0 8px 0;*/
		margin: 0;
	}

	p {
		margin: 0 0 0.8em 0;
	}

	ul {
		padding-left: 2.5em;
	}
}
